{% extends "::base.html.twig" %}

{% block title %}AppBundle:FrontController:index{% endblock %}

{% block body %}
        <tbody>
        <div   class="container-fluid">
<div   id="slider">
  <div class="slides">
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
        <div class="typewriter">
         <h1  id="page-title">Traveling is the best</h1>
         <h2  id="page-title-2">way to find yourself<h2>
</div>
        </div>
      </div>
      <div class="image">
        <img src="../bundles/app/asset/img/roadd.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div>
      <div class="image">
        <img src="../bundles/app/asset/img/sun.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div>
      <div class="image">
        <img src="../bundles/app/asset/img/lac.jpg">
      </div>
    </div>
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Lorem ipsum dolor</h1>
          <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
        </div>
      </div>
      <div class="image">
        <img src="../bundles/app/asset/img/snow.jpg">
      </div>
    </div>
  </div>
  <div class="switch">
    <ul>
      <li>
        <div class="on"></div>
      </li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
        <div class="container">
        {% for article in articles %}
         <div id="block-article">
            <tr>
            <ul>
            <div>
                <li class="margin-li">
                <span class="span-article">Autor :</span>
                <span id="autor">
                <td id="autor">{{ article.user }}</td>
                </span>
                </li>
            </div>
            <div>
                <li class="margin-li">
            <span class="span-article">Title :</span>
            <span id="title">
                <td>{{ article.title }}</td>
            </span>
                </li>
            </div>
            <div>
                <li class="margin-li" id="desc">
                <td>{{ article.description }}</td>
                </li>
            </div>
                <li class="margin-li">
                <p class="lead">
                   <a id="btn-article" class="btn btn-outline-info text-center" href="{{ path('show', { 'id': article.id }) }}">show</a>
                </p>
                </li>
            </ul>
            </tr>
        <div>
        {% endfor %}
        </tbody>
        </div>
    </div>
{% endblock %}
