{% extends "::base.html.twig" %}

{% block title %}AppBundle:FrontController:new{% endblock %}

{% block body %}
<h1>Welcome to the FrontController:new page</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
