{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block bodyclass %}login{% endblock %}
{% block body %}
    {% block fos_user_content %}
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <p>
                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>
                </section>
            </div>
        </div>
    {% endblock %}
{% endblock body %}