@font-face{
  font-family: 'Rubik-regu';
  src: url(../font/Rubik-Regular.ttf);
}

@font-face{
  font-family: 'Rubik-light';
  src: url(../font/Rubik-Light.ttf);
}
@font-face{
  font-family: 'Anton-regu';
  src: url(../font/Anton-Regular.ttf);
}

body{
  background-color: #f2f2f2 !important;
}
.container-fluid{
  height: 1000px;
}

h1{
  font-family:'Anton-regu';
  font-size:60px;
}

p{
  font-family: 'Rubik-Light';
  font-size:16px;
}

/* IMG MENU */

.container-header-home{

  background-image: url('../img/jake-davies-443335-unsplash.jpg');
  background-size:cover;
  background-position: center;
  height: 850px;
  
}

/* HEADER */

.h1-menu{
  font-size:20px !important;
  font-family: 'Anton-regu' !important;
  color: #000000;
}


/* FIN HEADER */
/* LOGO SITE */
.div-h1-site{
  position: relative;
  top:160px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
    .div-h1-site h1{
      font-size:160px;
      font-family: 'Anton-regu';
      color:#ffee19 ;
      text-shadow: 4px 2px #ffffff;
      position: relative;
      z-index: 5;
      letter-spacing: 1vh;
    }
    
.div-h2-site{
  position: relative;
  top:180px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.div-h2-site h2{
  font-size:50px;
  font-family: 'Anton-regu';
  color:#ffee19 ;
  text-shadow: 2px 2px #000000;
  letter-spacing: 0.5vh;
  
}

/* BTN DROP DOWN*/
.btn-drop-down{
  position: relative;
  top:160px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.position-btn-drop-down{
  width:80px;
  height: 80px;
  background-color:transparent;
  border:2px solid #000000;
  border-radius:50%;
}

.position-btn-drop-down a{
  padding-top: 23%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color:#000000;
}
.position-btn-drop-down a:hover{
  animation: btn-translate 1s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  color: #ffee19;
  
  
}
@keyframes btn-translate{
  0%{
    transition-timing-function: linear;
     transform: translateY(0px);
  }
  50%{
    transition-timing-function: linear;
    transform: translateY(18px);
  }
  100%{
    transition-timing-function: linear;
    transform: translateY(0px);
  }
}

/* FIN BTN DROP DOWN */

/* FIN LOGO SITE */
/* MENU */
.menu {
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}

.title-effect{
  height: 100%;
    width: 23%;
    position: absolute;
    background-color: #000000;
    left: 18%;
    opacity: 0.9;
    top: 0%;
    z-index: 3
}

/* MOSAIQUE INDEX */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

 .mosaique{
  margin:auto;
  width:80%;
  height:900px;
}
.column {
  flex: 25%;
  width: 25%;
  padding: 0px 4px;
}
.column img {
  width: 100%;
  padding: 0px 4px;
}

.column-2 {
  width: 25%;
  padding: 0px 4px;
}

.column-2 img {
  margin-top: 8px;
  width: 100%;
  padding: 0px 4px;
}
.column-3 {
  width: 50%;
  padding: 0px 4px;
}

.column-3 img {
  margin-top: 8px;
  width: 100%;
  padding: 0px 4px;
}
.img-special-size{
  width:49.6% !important;
}
.text-special-size{
  float:left;
  display:flex;
  margin:0;
  width:49.6% !important;
  text-align: center;
}
.text-special-size:hover{
background-color:#ffee19;
}

.text-mosaique{
  font-family:  'Anton-regu';
  font-size: 72px;
  line-height: 1.6em;
  /* width: 49.6%; */
}

/* EFFECT HOVER IMG */
.image-grille{
  width: 100%;
  padding: 0px 4px;
  backface-visibility: hidden;
  transition: .5s ease;
}
.hover-img-1{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:19%;
  margin-top:7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}

.hover-img-2{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:19%;
  margin-top:14%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.hover-img-3{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:19%;
  margin-top:7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.hover-img-4{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:39%;
  margin-top:16%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.hover-img-5{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:40%;
  margin-top:7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.hover-img-6{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:40%;
  margin-top:7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.hover-img-7{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:80%;
  margin-top:14%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.hover-img-8{
  transition:  .5s ease;
  /* opacity: 0; */
  display:none;
  position: absolute;
  left:70%;
  margin-top:14%;
  transform: translate(-50%, -50%);
  -ms-transform: translate( -50%, -50%);
  text-align: center;
}
.text-img{
  font-size: 40px;
  font-family:  'Rubik-regu';
  color:black;
  
}

.container-img:hover .image-grille{
  opacity: 0.5;
}

.container-img:hover .hover-img-1{
display:block;
}


.container-img:hover .hover-img-2{
display:block;
}
.container-img:hover .hover-img-3{
  display:block;
  }
  .container-img:hover .hover-img-4{
    display:block;
    }
    .container-img:hover .hover-img-5{
      display:block;
      }
      .container-img:hover .hover-img-6{
        display:block;
        }
        .container-img:hover .hover-img-7{
          display:block;
          }
          .container-img:hover .hover-img-8{
            display:block;
            }
        
/* STYLE BLOCK ARTICLE */

.size-img-article{
  width: 100%;
  height: auto;
}
.container-article{
  margin-top: 4%;
  margin-top: 4%;
}
.h1-article{
font-size: 40px;
font-family: 'Rubik-regu';
margin: 0px !important;
}
.div-article-titre{
  height: 32%;
}
.div-paragraphe-article{
  height: 40%;
}
.div-paragraphe-article >p{
  margin-top:2%;
}
.bouton-article{
  height: auto%;
  padding: 16px 0px;
}
.button-see-more{
  padding: 2% 4%;
  background-color:#000000;
  width: auto;
}
/* .button-see-more:hover{
  background-color:#ffee19;
} */
.style-btn-text{
  font-family: "Anton-regu";
  font-size:16px;
  text-decoration: none !important;
  color:#ffffff;
  letter-spacing: 0.5vh;
  text-transform: capitalize;
}
/* .style-btn-text:hover{
  color: #000000 !important;
} */
.bouton-article-right{
  margin-left: 70%;
}
.btn-outline-dark{
  width:24%;
}

.mdl-layout__drawer-button{
  top:2px !important;
}
/* .mdl-button--fab.mdl-button--colored{
  background-color:lightgrey !important;
}
.mdl-button--fab.mdl-button--colored:hover{
  background-color:lightblue !important;
} */

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.mdl-navigation__link{
  font-size:20px !important;
}


/* CHAPO HOME */

.container-chapo{
  text-align: center;
  margin-top:5%;
  margin-bottom: 5%;
}



.chapo-home{
  font-size: 32px;
  font-family: 'Rubik-regu';
  font-weight: bold;
}

.separator-line{
  width: 10%;
 height: 5px;
  background-color: #ffee19;
  /* animation: 2s infinite alternate separator; */
  /* width: 0px; */
  margin: auto;

}
.mdl-layout__container{
  position: relative !important;
}
.mdl-layout__drawer.is-visible{
  width:100% !important;
  height: 100% !important;
  text-align: center !important;
  background-color: #000000 !important;
  opacity: 0.9;
}
.mdl-layout-title{
 padding-left: 0px !important;
}
.link-menu{
  height: 60px !important;
  text-decoration: none !important;
  font-family: 'Anton-regu';
  font-size:80px !important;
  color:#ffffff !important;
  margin-top: 5% !important;
  letter-spacing: 3vh !important;
  width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    z-index: 1 !important;
    position: relative;
}
.right-close-menu{
  text-decoration: none !important;
  font-family: 'Anton-regu';
  font-size:80px !important;
  color:#ffffff !important;
  letter-spacing: 3vh !important;
  width: 8% !important;
    margin-left: 90% !important;
}

.trait-menu-item{
  position: relative ;
  width: 100%;
  height: 4px;
    background-color:#ffee19;
    display: block;
    visibility: hidden;
    z-index: 2;
}

@keyframes tracedash{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.link-menu:hover > span{
  animation: tracedash 0.4s ease-in;
    visibility: visible;
  }
  .link-menu:hover{
    background-color:transparent !important
  }
  .right-close-menu{
    background-color:transparent !important
  }
  .right-close-menu:hover > span{
    animation: tracedash 0.4s ease-in;
    visibility: visible;
  }

/* .right-close-menu:hover{
  background-color :#ffee19 !important;
}
.link-menu:hover{
  background-color :#ffee19 !important;
} */
a.link-social{
  margin-top:13% !important;
}
.mdl-navigation__link > i {
  color: #000000 !important;
}


@media (min-width: 1200px){
  .container {
      max-width: 1300px;
  }

}

/* STYLE PAGE ARTICLE */

.container-header-article{

  background-image: url('../img/clem-onojeghuo-146651-unsplash.jpg');
  background-size:cover;
  background-position: center;
  height: 850px;
  
}
.core-article{
  margin-top:8%;
}
.h1-menu-article{
  font-size:20px !important;
  font-family: 'Anton-regu' !important;
  color: #ffee19 !important;
}
.mdl-layout__drawer-button > i{
  color: #ffee19 !important;
  font-size:50px !important;
  text-shadow: 1px 1px #000000;
  
}
.title-article{
  margin:auto;
}
.title-article > h2{
  font-family: 'Anton-regu' !important;
  font-size:64px;
  letter-spacing: 3vh !important;
}

.img-article{
  width:100%;
  height: auto;
}
.bloc-image-article{
margin-left:auto;
/* margin-top: auto; */
}
.div-h1-article{
  position: relative;
  top:160px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
    .div-h1-article h1{
      font-size:120px;
      font-family: 'Anton-regu';
      color:#ffee19 ;
      text-shadow: 4px 2px #ffffff;
      position: relative;
      z-index: 5;
      letter-spacing: 1vh;
      text-align: center;
      margin-top:auto;
    }
    .btn-drop-down-article{
      position: relative;
      margin-top:20%;
      height: 200px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .size-scroll-container{
      height: 20px;
    }

    .description-article > p{
      font-family: 'Rubik-regu';
      font-size:16px;
      letter-spacing: 0.1vh !important;
    }
    .mdl-navigation__link > .social-icon {
      color: #ffee19 !important;
    }
    .btn-drop-down{
      position: relative;
      top:160px;
      height: 200px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .position-btn-drop-down-article{
      width:80px;
      height: 80px;
      background-color:transparent;
      border:2px solid #ffee19;
      border-radius:50%;
    }
    
    .position-btn-drop-down-article a{
      padding-top: 23%;
        font-size: 50px;
        display: flex;
        justify-content: center;
        color:#ffee19;
    }
    .position-btn-drop-down-article a:hover{
      animation: btn-translate 1s;
      animation-iteration-count: infinite;
      transition-timing-function: linear;
      color: #000000;
    }

    .container-commentaire-form{
      margin-top:10%;
      height: auto !important; 
    }
    .container-commentaire{
      margin-left:auto;
      margin-right:auto;
    }
    .titre-bloc > h2 {
      font-family: 'Anton-regu';
      font-size:32px;
      letter-spacing: 0.1vh !important;
    }
    .titre-bloc{
      text-align: center;
    }
    .bloc-commentaire{
      /* margin:auto; */

    }
    .bloc-commentaire > p{
      font-family: 'Rubik-regu';
      font-size: 18px;
    }
    .bloc-commentaire > #no-comment{
      font-family: 'Rubik-regu';
      font-size: 18px;
      text-align:center;
    }
    .titre-form{
      text-align: center;
    }
    .titre-form > h2{
      font-family: 'Anton-regu';
      font-size: 32px;
      letter-spacing: 0.1vh !important;
    }
    .container-form{
      margin-left: auto;
      margin-right: auto;
      /* background-color:#ffee19;
      height: 50%; */
    }
    .texte-area-article{
      height: auto;
      width:60%;
      margin: auto;
    }
    .bloc-input-send{
      width: 60%;
      margin: auto;
      text-align: center;
    }
    /* .input-send{
      margin-top:10%;
      padding:6% 18%;
      margin-bottom:10%;
      font-family: 'Anton-regu';
      font-size:16px;
      background-color:#000000;
      color:#ffee19;
      letter-spacing: 0.1vh !important;
      cursor: pointer;
      transition: 0.5s ease;
    }
    .input-send:hover{
      color:#000000;
      background-color: #ffee19;
       } */


       
       .btn-send-comment::after {
         -webkit-transition: all 0.3s;
         -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
         transition: all 0.3s;
       }
       
       .btn-send-comment{
         background:none;
         display: block;
         margin-top:10% !important;
         margin-left:auto !important;
         margin-right:auto !important;
         padding:6% 18%;
         margin-bottom:10% !important;
         font-family: 'Anton-regu' !important;
         font-size:20px !important;
         position: relative;
         text-transform: uppercase;
         cursor: pointer;
         /* columns: #000000; */
         letter-spacing: 0.2vh !important;
         text-transform: uppercase;
         font-weight: bold;
         color:#ffee19;
         border:2px solid #000000;
         text-shadow: 2px 2px #000000;
       }
       
       .btn-send-comment::before,
       .btn-send-comment::after {
         background:#ffee19 ;
         content: '';
         position: absolute;
         z-index: -1;
       }
       
       .btn-send-comment:hover {
         color: #000000;
         text-shadow: none;
       }

       .btn-2::after {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
      }
      
      .btn-2:hover:after {
        width: 100%;
      }

      .btn-log::after {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }
      
      .btn-log {
        background:none;
        display: block;
        margin-top:10% !important;
        margin-left:auto !important;
        margin-right:auto !important;
        padding:2% 6%;
        margin-bottom:10% !important;
        font-family: 'Anton-regu' !important;
        font-size:20px !important;
        position: relative;
        text-transform: uppercase;
        cursor: pointer;
        /* columns: #000000; */
        letter-spacing: 0.2vh !important;
        text-transform: uppercase;
        font-weight: bold;
        color:#ffee19;
        border:2px solid #000000;
        text-shadow: 2px 2px #000000;
      }
      
      .btn-log::before,
      .btn-log::after {
        background:#ffee19 ;
        content: '';
        position: absolute;
        z-index: -1;
      }
      
      .btn-log:hover {
        color: #000000;
        text-shadow: none;
      }

      @media screen and (max-width: 400px){
        .mosaique{
          display:none;
        }
        .container-header-home{

          background-image: url('../img/clem-onojeghuo-145805-unsplash.jpg');
        }
        .title-effect{
          display:none;
        }
        .div-h1-site h1{
          font-size: 80px;
          text-align: center;
        }
        .div-h2-site h2 {
          font-size:22px;
          text-align: center;
        }
        .div-h1-article h1{
          font-size:80px;
        }
        .btn-drop-down-article{
          margin-top: 80%;
        }
        .title-article h2{
          font-size: 30px;
        }
        .chapo-home{
          font-size:20Px
        }
        .h1-article{
          font-size:25px;
          text-align: center;
        }
        .link-menu{
          font-size: 44px !important;
          letter-spacing: 1vh !important;
        }
        .right-close-menu{
          font-size: 34px !important;
          margin-left: 82% !important;
        }
        .bouton-article{
          text-align: center;
        }
        .container-article{
          margin-top:12%;
        }
        .bouton-article-right{
          margin:auto;
        }
        /* .mdl-layout__drawer.is-visible{
          position: absolute;
        } */
      }