@font-face{
    font-family: 'mono';
    src: url(../font/mono.ttf);
}
@font-face{
    font-family: 'banger';
    src: url(../font/banger.ttf);
}
@font-face{
    font-family: 'special';
    src: url(../font/special.ttf);
}


#page-title{
    margin-top:60px;
    color:black;
    font-size:80px;
}
#page-title-2{
    color:black;
    font-size:70px;
}
.container{
    width:1100px;
}

li{
    list-style: none;
}

.a-nav{
    font-size: 25px;
}
#brand-nav{
    font-size:30px;
}
.span-article{
    font-size:18px;
}
#desc{
    font-size:18px;
}
#autor{
    font-size:20px;
    color:#5D89FF;
}
#title{
    font-size:20px;
    color:black;
}

#block-article{
    border-top:2px solid  #C0CAE8;
    margin-top:100px;
}
.margin-li{
    margin-top:20px;
}
#btn-article{
    width:90px;
    font-size:12px;
}
#desc-article{
    margin-top:100px;
}
.th-resize{
    font-size:25px;
    color:black;
}
.td-resize{
    font-size:20px;
}
.li-show{
    margin-top: 10px;
}
#h2-show{
    margin-top:40px;
}
#style-h2{
    font-size:40px;
}
#style-h1{
    margin-top:40px;
    font-size:40px;
}
#style-h3{
    margin-top:40px;
    font-size:40px;
}
#comment-style{
    font-size:20px;
    text-align: center;
    margin-top:20px;
}
#back-index{
    margin-top:40px;
    display:flex;
    justify-content: center;

}
#back-index-style{
    width: auto;
    font-size: 15px;
}
#creat-com{
    margin-top:20px;

}
#creat-style{
    font-size:15px;
    width:auto;
}
label{
    font-size:25px;
    color: black;
}
#false{
    font-size: 20px;
    color:black;
}
#img-index{
    height: 400px;
    background-image: url('../img/snow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    margin-bottom: 0;
}

